
#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    background-color: rgb(27, 27, 27);
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: white;
    justify-content: center;
    overflow-x: hidden;

}

.homePage {
    background-image: url('../assets/BackgroundStore.jpg');
    background-position: center;
    background-size: cover;
}

.productCard {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 300px;
    border-radius: 12px;
    padding: 8px;
}

.linkToStore:active {
    transform: scale(.9);
}
.linkToStore:focus {
    transform: scale(.9);
}